<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ChiaSeAmThuc</display-name>
  <servlet>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>action_admin.ListUsersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/admin/list-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>action_admin.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>action_admin.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUser</servlet-name>
    <servlet-class>action_admin.DelUsersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUser</servlet-name>
    <url-pattern>/admin/del-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>action_admin.AddUsersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/admin/add-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>action_admin.EditUsersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/admin/edit-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListContact</servlet-name>
    <servlet-class>action_admin.ListContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListContact</servlet-name>
    <url-pattern>/admin/list-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelContact</servlet-name>
    <servlet-class>action_admin.DelContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelContact</servlet-name>
    <url-pattern>/admin/del-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewContact</servlet-name>
    <servlet-class>action_admin.ViewContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewContact</servlet-name>
    <url-pattern>/admin/view-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnContact</servlet-name>
    <servlet-class>action_admin.ReturnListContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnContact</servlet-name>
    <url-pattern>/admin/processed-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeProductAction</servlet-name>
    <servlet-class>action_admin.TypeProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeProductAction</servlet-name>
    <url-pattern>/admin/list-typeproducts</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>AddTypeProductAction</servlet-name>
    <servlet-class>action_admin.AddTypeProductsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeProductAction</servlet-name>
    <url-pattern>/admin/add-typeproducts</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>DelTypeProductAction</servlet-name>
    <servlet-class>action_admin.DelTypeProductsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTypeProductAction</servlet-name>
    <url-pattern>/admin/del-typeproducts</url-pattern>
  </servlet-mapping> 
  
<!-- home -->  
  <servlet>   
    <servlet-name>Home</servlet-name>
    <servlet-class>action_home.HomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>action_home.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/home/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>action_home.SignUpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/home/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>action_home.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/home/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>action_home.AboutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/home/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>action_home.ContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/home/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendContact</servlet-name>
    <servlet-class>action_home.SendContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendContact</servlet-name>
    <url-pattern>/home/contact/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>action_home.CreateProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/home/create-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProduct</servlet-name>
    <servlet-class>action_home.ListProductUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProduct</servlet-name>
    <url-pattern>/home/list-product-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelProduct</servlet-name>
    <servlet-class>action_home.DelProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProduct</servlet-name>
    <url-pattern>/home/del-product-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailProduct</servlet-name>
    <servlet-class>action_home.DetailProductsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailProduct</servlet-name>
    <url-pattern>/home/detail-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HistoryProduct</servlet-name>
    <servlet-class>action_home.HistoryProductsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryProduct</servlet-name>
    <url-pattern>/home/history-products</url-pattern>
  </servlet-mapping>
</web-app>